@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;600;700&display=swap');

#head {
    margin: 2.3vw 0 0 2.3vw;
    display: flex;
    justify-content: space-between;
    /*margin: 2.3vw;*/
}

#head section {
    display: flex;
    align-items: center;
    gap: 2.5vw;
}

a {
    text-decoration: none;
    color: black;
}

#inff {
    display: flex;
    align-items: flex-start;
    height: 100%;
}

.inf1 {
    font-family: Hind Vadodara;
    font-size: 1em;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.inf {
    font-family: Hind Vadodara;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: #331B3B;
    font-family: Playfair Display;
    font-size: 1.25em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.adrr {
    display: flex;
    justify-content: space-between;
}

.block1 {
    margin-left: 2.3vw;
    margin-bottom: 2.3vw;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.block1 .left {
    margin-top: 15vw;
}

.block1 .textti {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.block1 .odin {
    color: #331B3B;
    font-family: Hind Vadodara;
    font-size: 4em;
    font-style: normal;
    font-weight: 700;
    line-height: 99.8%;
}

.block1 .dva {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #331B3B;
    font-family: Hind Vadodara;
    font-size: 4em;
    font-style: normal;
    font-weight: 300;
    line-height: 99.8%;
}

.block1 .lo {
    margin: 1.5vw 0 1.5vw 0;
    font-family: Hind Vadodara;
    font-size: 0.89em;
    font-style: normal;
    font-weight: 400;
    line-height: 146.3%;
}

.go {
    width: 10.78vw;
    height: 3.44vw;
    border-radius: 0.52vw;
    background: #331B3B;
}

.ko {
    text-decoration: none;
    color: #FFF;
    background: #331B3B;
    font-family: Hind Vadodara;
    font-size: 0.89em;
    font-style: normal;
    font-weight: 700;
    line-height: 137.3%;
    text-transform: uppercase;
}

.block2 {
    height: 35vw;
    margin-right: 10vw;
    border-radius: 0 20.83vw 0 0;
    background: #ECF7FF;
    display: flex;
    flex-direction: column;
}

.textti {
    margin-top: 3vw;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.odin {
    color: #331B3B;
    text-align: center;
    font-family: Hind Vadodara;
    font-size: 3em;
    font-style: normal;
    font-weight: 700;
    line-height: 106.3%;
}

.dva {
    color: #331B3B;
    font-family: Hind Vadodara;
    font-size: 3em;
    font-style: normal;
    font-weight: 300;
    line-height: 106.3%;
}

.bok {
    margin: 5vw -5vw 0 13.80vw;
    gap: 2.5vw;
    display: flex;
    justify-content: space-between;
}

.bok .od {
    display: flex;
    flex-direction: column;
    border-radius: 0.52vw;
    background: #FFF;
    box-shadow: 0.05vw 0.05vw 0.47vw 0.10vw rgba(0, 0, 0, 0.05);
}

.od img {
    margin: 1vw 0 0 1vw;
    width: 1.56vw;
    height: 1.56vw;
    border-radius: 0.52vw;
    background: #FFDED4;
}

.od .WD {
    margin: 1vw 0 0.5vw 1vw;
    color: #331B3B;
    font-family: Hind Vadodara;
    font-size: 0.9em;
    font-style: normal;
    font-weight: 700;
    line-height: 137.3%;
    letter-spacing: 0.0625em;
    text-transform: uppercase;
}

.od .lo {
    margin: 0 3vw 1vw 1vw;
    color: rgba(51, 27, 59, 0.66);
    font-family: Hind Vadodara;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 145.3%; 
}

.bok .dv {
    display: flex;
    flex-direction: column;
    border-radius: 0.52vw;
    background: #FFF;
    box-shadow: 0.05vw 0.05vw 0.47vw 0.10vw rgba(0, 0, 0, 0.05);
}

.dv img {
    margin: 1vw 0 0 1vw;
    width: 1.56vw;
    height: 1.56vw;
    border-radius: 0.52vw;
    background: #FFEED4;
}

.dv .WDe {
    margin: 1vw 0 0.5vw 1vw;
    color: #331B3B;
    font-family: Hind Vadodara;
    font-size: 0.9em;
    font-style: normal;
    font-weight: 700;
    line-height: 137.3%;
    letter-spacing: 0.0625em;
    text-transform: uppercase;
}

.dv .lo {
    /*margin: 0 1.5vw 1vw 1vw;*/
    color: rgba(51, 27, 59, 0.66);
    font-family: Hind Vadodara;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 145.3%; /* 21.795px 
    letter-spacing: 0.3px;*/
}

.bok .tri {
    display: flex;
    flex-direction: column;
    border-radius: 0.52vw;
    background: #FFF;
    box-shadow: 0.05vw 0.05vw 0.47vw 0.10vw rgba(0, 0, 0, 0.05);
}

.tri img {
    margin: 1vw 0 0 1vw;
    width: 1.56vw;
    height: 1.56vw;
    border-radius: 0.52vw;
    background: #D4F0FF;
}

.tri .MAD {
    margin: 1vw 0 0.5vw 1vw;
    color: #331B3B;
    font-family: Hind Vadodara;
    font-size: 0.9em;
    font-style: normal;
    font-weight: 700;
    line-height: 137.3%;
    letter-spacing: 0.0625em;
    text-transform: uppercase;
}

.tri .lo {
    /*margin: 0 1.5vw 1vw 1vw;*/
    color: rgba(51, 27, 59, 0.66);
    font-family: Hind Vadodara;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 145.3%; /* 21.795px 
    letter-spacing: 0.3px;*/
}

.bok .chet {
    display: flex;
    flex-direction: column;
    border-radius: 0.52vw;
    background: #FFF;
    box-shadow: 0.05vw 0.05vw 0.47vw 0.10vw rgba(0, 0, 0, 0.05);
}

.chet img {
    margin: 1vw 0 0 1vw;
    width: 1.56vw;
    height: 1.56vw;
    border-radius: 0.52vw;
    background: #FFD4D4;
}

.chet .Mar {
    margin: 1vw 0 0.5vw 1vw;
    color: #331B3B;
    font-family: Hind Vadodara;
    font-size: 0.9em;
    font-style: normal;
    font-weight: 700;
    line-height: 137.3%;
    letter-spacing: 0.0625em;
    text-transform: uppercase;
}

.chet .lo {
    /*margin: 0 1.5vw 1vw 1vw;*/
    color: rgba(51, 27, 59, 0.66);
    font-family: Hind Vadodara;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 145.3%;
}

.block3 {
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin-top: 10vw;
}

.left img {
    width: 50vw;
}

.block3 .right {
    margin: 6vw 4vw 0 0;
    color:#331B3B;
}

.block3 .textti {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.block3 .odin {
    color: #331B3B;
    font-family: Hind Vadodara;
    font-size: 3em;
    font-style: normal;
    font-weight: 700;
    line-height: 106.3%;
}

.block3 .dva {
    color: #331B3B;
    font-family: Hind Vadodara;
    font-size: 3em;
    font-style: normal;
    font-weight: 300;
    line-height: 106.3%;
}

.block3 .lo {
    display: flex;
    flex-direction: column;
    margin: 1.5vw 0 1.5vw 0;
    text-align: left;
    color: rgba(51, 27, 59, 0.66);
    font-family: Hind Vadodara;
    font-size: 1.0625em;
    font-style: normal;
    font-weight: 400;
    line-height: 146.3%;
   /*font-family: Hind Vadodara;
    font-size: 1.21vw;
    font-weight: 400;
    line-height: 1.79vw;*/
    
}

.block4 {
    border-radius: 20.83vw 0 0 0;
    background: rgba(255, 222, 212, 0.30);
    margin: 5vw 0 0 10vw;
    max-height: 39vw;
    display: flex;
    flex-direction: column;
}

.block4 .sverxy {
    display: flex;
    justify-content: space-between;
}

.block4 .textti {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2vw 0 0 -9vw;
}

.block4 .odin {
    color: #331B3B;
    font-family: Hind Vadodara;
    font-size: 3em;
    font-style: normal;
    font-weight: 700;
    line-height: 106.3%;    
}

.block4 .dva {
    color: #331B3B;
    font-family: Hind Vadodara;
    font-size: 3em;
    font-style: normal;
    font-weight: 300;
    line-height: 106.3%;
}

.block4 .lo {
    color: #331B3B;
    font-family: Hind Vadodara;
    font-size: 0.89em;
    font-style: normal;
    font-weight: 400;
    line-height: 146.3%;
    margin: 4vw 3vw 0 0;
}

.kva2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 12vh;
    margin-bottom: 5vh;
}

.kva-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 419px;
    height: 365px;
    background: #FFF;
    border-radius: 10px;
    box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.05);
    margin-left: 8vh;
}

.kva-img {
    display: flex;
    flex-direction: row;
    /* gap: 1vw; */
    justify-content: space-around;
}

.scr1 {
    width: 286px;
    height: 238px;
}

.kva-mobile {
    width: 89px;
    height: 238px;
}

.kva-text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3vh;
    margin-bottom: 3vh;
    font-family: Hind Vadodara;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;    
}

.btn-work button {
    background: none;
    border-radius: 50px;
    /* font-family: Hind Vadodara; */
    font-size: 14px;
    font-weight: 500; 
    letter-spacing: 0em;
    color: rgba(51, 27, 59, 1);
}

.block5 {
    margin-top: 5vw;
}

.block5 .textti {
    display: flex;
    flex-direction: column;
}

.block5 .odin {
    color: #331B3B;
    text-align: center;
    font-family: Hind Vadodara;
    font-size: 3em;
    font-style: normal;
    font-weight: 700;
    line-height: 110.8%;
}

.block5 .dva {
    color: #331B3B;
    font-family: Hind Vadodara;
    font-size: 3em;
    font-style: normal;
    font-weight: 300;
    line-height: 110.8%;
}

.block5 .kva {
    display: flex;
    justify-content: center;
    gap: 3vw;;
    margin: 5vw 10vw 3vw 10vw ;
}

.kva .lef {
    box-shadow: 0.07vw 0.07vw 0.42vw 0.10vw rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
}

.kva .rig {
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
}

.kavchki {
    margin-top: 1.5vw;
    margin-left: 1.4vw;
}

.block5 .lo {
    color: #331B3B;
    font-family: Hind Vadodara;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: 159.3%;
    margin: 0.7vw 2vw 0 2vw;
}

.te {
    color: #000;
    font-family: Hind Vadodara;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 600;
    line-height: 159.3%;
    margin: 0.7vw 2vw 2.5vw 2vw;
}

footer {
    border-radius: 0.05vw 8.23vw 0.05vw 0.05vw;
    background: #000;
    display: flex;
    justify-content: space-between;
}

.container-foot {
    display: flex;
}

footer .textti{
    display: flex;
    align-items: flex-start;
    margin: 3.44vw 0 3.96vw 2.60vw;
}

footer .odin {
    color: #FFF;
    font-family: Playfair Display;
    font-size: 2.25em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

footer .lo {
    display: flex;
    text-align: start;
    color: #FFF;
    font-family: Hind Vadodara;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: 159.3%;
}

footer .dvaa {
    color: #FFF;
    font-family: Hind Vadodara;
    font-size: 1em;
    font-style: normal;
    font-weight: 600;
    line-height: 159.3%;
    text-transform: uppercase;
    margin-top: 3vh;
}

footer .forr {
    margin-top: 0.5vw;
    margin-bottom: 5vw;
    margin-left: 3vw; 
    border: 1px solid #FFF;
    display: flex;
    justify-content: space-between;
}

.form-footer {
    display: flex;
    align-items: center;
    /* border: 1px solid #FFF; */
    margin-top: 3vh;
 }

.mail-text {
    width: 13.70vw;
    height: 4.71vh;
    color: #D4F0FF;
    background: #000;
    font-family: Hind Vadodara;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: 159.3%;
    text-transform: uppercase;
}

.submit-text {
    width: 7.45vw;
    height: 4.71vh;
    background: #FFF;
    color: #000;
    font-family: Hind Vadodara;
    font-size: 1em;
    font-style: normal;
    font-weight: 600;
    line-height: 159.3%;
    text-transform: uppercase;
}

/* footer .forr1 {
    width: 13.70vw;
    height: 2.71vw;
    color: #FFF;
    font-family: Hind Vadodara;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: 159.3%;
    text-transform: uppercase;
}

footer .forr2 {
    width: 7.45vw;
    height: 2.71vw;
    background: #FFF;
    color: #000;
    font-family: Hind Vadodara;
    font-size: 1em;
    font-style: normal;
    font-weight: 600;
    line-height: 159.3%;
    text-transform: uppercase;
} */

footer img {
    margin: 3.44vw 7.92vw 3.96vw 2.60vw;
    width: 25.5vw;
}